name: Local CI/CD Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - run: docker-compose down
      - run: docker-compose up -d --build
